<div class="row ">
    <div class="col-1">
      <a class="pointer"  (click)="goBack()">Volver</a>
    </div>
    <div class="col-11">
      <nav aria-label="breadcrumb" class="my-breadcrumb">
        <div class="nav-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/citas">Citas</a>
            </li>
            <li class="breadcrumb-item " aria-current="page">
              <a routerLink="/diagnosticar" class="activePage">Diagnostico</a>
            </li>
          </ol>
        </div>
      </nav>
    </div>
</div>


