
<div class="dropdown d-flex justify-content-center mb-4 border-top pt-2">
  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="rounded-circle me-2 bg-danger profile d-flex justify-content-center align-items-center">
        <h3 class="m-0">{{nombre[0]}}</h3>
    </span>
    <strong>{{nombre}}</strong>
  </a>
  <ul class="dropdown-menu shadow" aria-labelledby="dropdownUser1">
    <li><a class="dropdown-item" (click)="logOut()">Cerrar Session</a></li>
  </ul>
</div>
