<div class="container-fluid">
    <div class="row font">
        <div class="col-12 p-0">
            <div class="row m-0">
                <div class="col-12 mt-2 p-0">
                    <breadcrumb
                    [primeraRouta]="'/app/radiologo'"
                    [primerNombre]="'Citas'"
                    [segundonombre]="'Diagnostico'"
                    ></breadcrumb>
                </div>
            </div>
            <div class="row px-5">
                <div class="col-12 mt-5">
                    <h1 class="title color">{{nombreCompleto}}</h1>
                </div>    
            </div>
            <div class="row px-5">
                <div class="col-1 mt-4 text-center tab border-b p-0">
                    Diagnostico
                </div>
            </div>
            <div class="row mt-5 px-5">
                <div class="col-12 p-0">
                    <formulario-atender-paciente></formulario-atender-paciente>
                </div>
                
            </div>
        </div>
</div>

    
   
</div>




