
<div class="row font">
    <div class="col-1 text-center" [class.enabled]="activeTab === 'pendiente'" [class.disabled]="activeTab !== 'pendiente'" (click)="setActiveTab('pendiente'); enviarDatoAlPadre('pendiente')">
        <span>Pendiente</span>
    </div>
    <div class="col-1 text-center" [class.enabled]="activeTab === 'realizada'" [class.disabled]="activeTab !== 'realizada'" (click)="setActiveTab('realizada'); enviarDatoAlPadre('realizada')" >
        <span>Realizada</span>
    </div>
</div>
