<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-5">
                <div class="row mt-5">
                    <div class="col-12">
                        <h1 class="title">Citas</h1>
                    </div>
                </div>
                <div class="row mt-4 mb-2">
                    <div class="col-12">
                        <app-componente-pendiente-realizada 
                        (datoEnviado)="recibirDato($event)"
                        ></app-componente-pendiente-realizada>
                    </div>   
                </div>
                <div class="row mt-5">
                    <div class="col-8">
                        <tabla-citas-pendientes [fecha]="selected"  *ngIf="activeTab === 'pendiente'"></tabla-citas-pendientes>
                        <tabla-citas-realizadas [fecha]="selected" *ngIf="activeTab === 'realizada'"></tabla-citas-realizadas>
                    </div>
                  <div class="col-4 px-5">
                    <mat-calendar [(selected)]="selected" (selectedChange) = "calendario(selected)"  class="mat-calendar"></mat-calendar>
                  </div>
                </div>
        </div>
    </div>
    
</div>
