.container {
  width: 409px;
  height: 445px;
  flex-shrink: 0;
}

.background {
  display: flex;
  flex-direction: column;
  background-color: #EBF3FA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  align-items: center;
}

.text-container {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.button-container {
  cursor: pointer;
  border-radius: 10px;
  font-family: Manrope;
  font-size: 18px;
  padding: 12px 20px;
  text-decoration: none;
  box-sizing: border-box;
  margin-top: 60px;
}

#btnContinuar {
background: var(--Color---Primary, #092C4C);
color: #fff;
border: 2px solid var(--Color---Primary, #092C4C);
transition: box-shadow 0.3s ease;
}

#btnContinuar:hover {
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}



#texto {
  margin-top: 20px;
}
