<ul class="d-flex ms-5 font">
    <li class="border-bottom border-3 p-3" [class.activado]="ventanaAMostrar == 'citas-pendientes'" [class.noactivado]="ventanaAMostrar != 'citas-pendientes'" id="elemento-lista"><a (click)="cambiarVentana('citas-pendientes')">Citas Pendientes</a></li>
    <li class="border-bottom border-3 p-3" [class.activado]="ventanaAMostrar == 'citas-realizadas'" [class.noactivado]="ventanaAMostrar != 'citas-realizadas'" id="elemento-lista"><a (click)="cambiarVentana('citas-realizadas')">Citas Realizadas</a></li>
    <li class="border-bottom border-3 p-3" [class.activado]="ventanaAMostrar == 'perfil'" [class.noactivado]="ventanaAMostrar != 'perfil'" id="elemento-lista"><a (click)="cambiarVentana('perfil')">Perfil</a></li>
</ul>
 