<table datatable class="row-border p-5">

   <thead>
        <tr>
            <th>
                hola
            </th>
        </tr>
   </thead>
   
    <tbody> <!--Aqui estamos decidiendo que tipo de contenido se va a enseñar por pantalla-->
        <tr [ngSwitch]="pendienteRealizada">
            <td *ngSwitchCase="'citas-pendientes'">
                Mostrando citas pendientes... <!-- Aqui se haria la llamada a las citas pendientes-->
            </td>

            <td *ngSwitchCase="'citas-realizadas'">
                Mostrando citas realizadas... <!-- Aqui se mostraria a las citas realizadas-->
            </td>
        </tr>
    </tbody>

</table>
