<div class="row">
  <div class="col-2 background position-fixed p-0 width">
      <div class="row">
          <div class="col-12 text-center p-0">
              <img class="mt-2" src="../../../assets/iconos/logoIvoBlanco.png" width="80px">
          </div>
      </div>
      <div class="row ">
          <div class="col-12 p-0 ">
              <app-nav-opciones></app-nav-opciones>
          </div>
      </div>
      <div class="col-12 p-0 text-center mt-auto" style="position: absolute; bottom: 0; left: 0; right: 0;">
          <app-nav-logout></app-nav-logout>
      </div>
  </div>
</div>
