    <div class="row">
        <div class="col-12 p-o mt-3">
            <breadcrumb
            [primeraRouta]="'/administrativo'"
            [primerNombre]="'Alta paciente'"
            [segundonombre]="'Citas'"
            [segundoActivo]="true"
            ></breadcrumb>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-5 ms-5">
            <p class="h1">Crear Cita</p>
        </div>
    </div>

    <div class="row d-flex justify-content-start">
        <div class="col-4 text-center mt-3 ms-3">
            <app-dos-pasos-formulario></app-dos-pasos-formulario>
        </div>
    </div>


    <div class="row">
        <div class="col-12 mt-5 ms-5 mb-5">
            <p class="h5">Introduce los datos de la cita</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 mb-4">
          <form [formGroup]="formularioCita">

            <div class="row mb-4">
                <div class="col ms-5">
                    <label for="especialidad" class="form-label">Servicio</label>
                    <select class="form-select" aria-label="Default select example" formControlName="especialidad" (change)="obtenerIdServicio($event)">
                      <option *ngFor="let servicio of servicios" [value]="servicio.id_servicio" >
                          {{ servicio.nombre_servicio }}
                      </option>
                  </select>

                </div>

                <!--
                  <div class="col ms-5">
                    <label for="fechaCreacion" class="form-label">Fecha de Creacion</label>
                    <input type="date" class="form-control" formControlName="fechaCreacion">
                </div> -->
            </div>

            <div class="row mb-2 mt-5">
                <div class="col ms-5">
                    <label for="nombreMedico" class="form-label">Nombre de Médico</label>
                    <select class="form-select" aria-label="Seleccionar médico" formControlName="nombreMedico" (change)="obtenerIdMedico($event)">
                        <option *ngFor="let medico of medicos" [value]="medico.id_usuario_medico">
                          {{ medico.usuario.nombre }}
                        </option>
                    </select>
                </div>

                <div class="col ms-5">
                    <label for="horasDisponibles" class="form-label">Horas Disponibles</label>
                    <input type="time" class="form-control" formControlName="horasDisponibles">
                </div>
            </div>

        </form>

        </div>
    </div>

    <div class="row mt-3 p-5">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <app-btn-cancelar [routerLink]="'/app/administrativo/paciente/' + idPaciente"></app-btn-cancelar>


            <div *ngIf="confirmar">
                <app-btn-anterior (click)="anterior()"></app-btn-anterior>
            </div>

            <div>
                <app-btn-siguiente
                [mostrarModal]="enviarDatos"
                [idModal]="'prueba'"
                (click)="siguiente()">
                </app-btn-siguiente>
            </div>
        </div>
    </div>

  <!-- Modal -->
  <app-mensaje-confirmacion [idModal]="'prueba'" [texto]="'Cita creada'" [enlace]="'app/administrativo/paciente/'+idPaciente"></app-mensaje-confirmacion>




