<div class="row px-5">
    <div class="col-12">
        <div class="row my-5">
            <div class="col-12">
                <h1 class="title color">Facturas</h1>
            </div>
        </div>
        <table datatable [dtOptions]="dtOptions" class="table table-hover font">
          <thead>
            <tr style="background-color: #0062ca;">
              <th>SIP</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Hora</th>
            </tr>
          </thead>
          <tbody>
            <tr class="pointer">
              <td>SIP</td>
              <td>SIP</td>
              <td>SIP</td>
              <td>SIP</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
