<div class="row px-5">
    <div class="col-12">
        <div class="row my-5">
            <div class="col-12">
                <h1 class="title color">Facturas</h1>
            </div>
        </div>
        <div *ngIf="!existir" class="d-flex justify-content-center my-3">
          <div class="loader">
          </div>
        </div>
        <table *ngIf="existir" datatable [dtOptions]="dtOptions" class="table table-hover font">
          <thead>
            <tr style="background-color: #0062ca;">
              <th>Nº Hab</th>
              <th>Fecha de creación</th>
              <th>Mes</th>
              <th>Importe</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let factura of facturas" class="pointer">
              <td>{{factura.room_number}}</td>
              <td>{{factura.date}}</td>
              <td>{{factura.month}}</td>
              <td>{{factura.amount}}</td>
              <td>
                <div (click)="download(factura)">
                  <fa-icon [icon]="faDownload" class="mx-2 icon-calender pointer"></fa-icon>
                </div>
            </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
