
  #lUsuario {
    color: #092C4C;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    margin-bottom: 15px !important;

  }

  #lRoles,
  #lServicio {
    width: 155px;
    height: 22px;
    flex-shrink: 0;
    color: #DCECFB;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;

  }
  .drawer-menu>li{
    margin-top: 30px;
  }

  #lCorreo {
    color: #DCECFB;
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    margin-left: 10px;
    margin-right: 10px;
  }

  #lNombre {
    color: #DCECFB;
    font-feature-settings: 'cv04' on, 'cv01' on, 'cv03' on;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 145%;
  }
  .navbar>.container-fluid{
    padding-right: 0;
    padding-left: 0;
    height: 100%;
    align-content: flex-start !important;
  }

  .navbar.fixed-top.off-canvas {
    bottom: 0;
    right: auto;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 999999999999;
    background-color: #092C4C;
    color: #092c4c;
    border-color: #092c4c;
    /* width: 280px; */
}
.cajaMenu{
  display: flex;
  align-self: flex-end;
}
.nav-item>button.button-menu{
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  color: white !important;

}

.nav-item>.button-menu:hover{
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 4px;
  background: rgb(180, 180, 180);
  cursor: pointer;
  color: rgb(167, 180, 224);
}


.nav-item>.button-menu:active{
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 4px;
  background: white !important;
  cursor: pointer;
  color: white;
}



#sLogo {
    width: 100px;
    height: 100px;
    display: flex;
    margin-top: 30px;
}

.navbar.fixed-top.off-canvas .nav,
.navbar.fixed-top.off-canvas .brand-line {
    width: 100%;
}

.navbar.fixed-top.off-canvas>div[class*="container-"] {

    padding-right: 0;
    padding-left: 0;
    height: 100%;
    align-content: space-between;
}

.navbar.fixed-top.off-canvas .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar.fixed-top.off-canvas[data-right-drawer="1"],
.navbar.fixed-top.off-canvas.right-drawer {
    right: 0;
    left: auto;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.navbar.fixed-top.off-canvas[data-open-drawer="1"],
.navbar.fixed-top.off-canvas.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.navbar.fixed-top.off-canvas.navbar-expand {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.navbar.fixed-top.off-canvas.navbar-expand .drawer-knob,
.navbar.fixed-top.off-canvas.navbar-expand button[data-dismiss="drawer"] {
    display: none;
}

@media (min-width: 576px) {
    .navbar.fixed-top.off-canvas.navbar-expand-sm {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@media (min-width: 576px) {
    .navbar.fixed-top.off-canvas.navbar-expand-sm .drawer-knob,
    .navbar.fixed-top.off-canvas.navbar-expand-sm button[data-dismiss="drawer"] {
        display: none;
    }
}

.navbar.fixed-top.off-canvas .drawer-knob {
    position: absolute;
    top: 10px;
    right: -36px;
}

.navbar.fixed-top.off-canvas[data-open-drawer="1"] .drawer-knob,
.navbar.fixed-top.off-canvas.open .drawer-knob {
    display: none;
}

.navbar.fixed-top.off-canvas {
    width: 100%;
}

@media (min-width: 576px) {
    .navbar.fixed-top.off-canvas {
        width: 280px;
    }
}

.drawer-push.drawer-expand>.drawer-site,
.drawer-push.open>.drawer-site {
    margin-left: 100%;
}

.drawer-slide {
    position: relative;
    overflow-x: hidden;
}

.drawer-slide>.drawer-site {
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.drawer-slide.open>.drawer-site {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

body>div.drawer-fade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    transition: opacity .3s linear;
    background-color: #000000;
    opacity: 0;
    z-index: 99999999999;
}

body.drawer-open>div.drawer-fade {
    width: 100%;
    opacity: .6;
}

.dCerrarSesion {
    display: flex;
    margin-bottom: 50px;
}

#iconoBarra {
    margin-right: 10px;
    color: white;
}