<!-- Modal -->
<div class="modal fade" data-bs-keyboard="false" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body mt-4 h3" style="font-weight: 400;">
        <div class="col-5 mx-auto text-center">
            {{texto}}
        </div>
    </div>

      <div class="col-12 p-3 mb-4 justify-content-between">
       <button id="btnNo" type="button" class="btn ms-5 me-5"  data-bs-dismiss="modal">No</button>
       <button id="btnSi" type="button" class="btn ms-4" (click)="confirmarEliminacion()">Si</button>
      </div>

    </div>
  </div>
</div>
