body {
  background-color: #EBF3FA;
}

#btnNo {
  border-color: #092C4C;
  background-color: #EBF3FA;
  color: #092C4C;
}

#btnSi {
  border-color: #EBF3FA;
  background-color: #092C4C;
  color: #EBF3FA;
}
