.title {
    font-size: 40px;
    font-family: manrope;
    font-weight: bold;
}

.nav {
    background-color: #092C4C;
    height: 100vh;
    width: 100%;
}

.container-fluid {
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #092C4C;
}

.enabled {
    color: #092C4C !important;
    border-bottom: 2px solid #092C4C;
    font-weight: 900;
    font-size: 1.3rem;
    cursor: pointer;
}

.disabled {
    font-size: 1.3rem;
    color: #98A3B3 !important;
    border-bottom: 2px solid #98A3B3;
    cursor: pointer;
}