<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-0">
            <div class="nav"></div>
        </div>
        <div class="col-10 px-5">
            <div class="row mt-5">
                <div class="col-10">
                    <h1 class="title">Detalles de la cita</h1>
                </div>
            </div>

            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-12 divDetails">

                    <div class="row">
                        <div class="col-7">
                            <h1 class="titleDetails">MÉDICO / ESPECIALISTA</h1>
                            <p class="pDetails">José Carlos Garmin</p>

                            <h1 class="titleDetails">FECHA</h1>
                            <p class="pDetails">Sábado 16 de diciembre de 2023</p>

                            <h1 class="titleDetails">UBICACIÓN</h1>
                            <p class="pDetails">Planta 2, consultorio 13</p>
                        </div>
                        <div class="col-5">

                            <h1 class="titleDetails">SERVICIO</h1>
                            <p class="pDetails">Radiología</p>

                            <h1 class="titleDetails">HORA</h1>
                            <p class="pDetails">09:00-09:30</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mt-5 d-flex justify-content-start">
                <div class="col-3">
                    <button class="btn buttonDetails">Anular Cita</button>
                </div>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>