<div class="row">
    <div class="col-2">
        <div class="nav">
    
        </div>
    </div>
    <div class="col-10">
        <div class="p-50">
            <div class="row">
                <h1 class="title font">Citas Pendientes</h1>
            </div>
            <div class="row mt-4">
                <app-componente-pendiente-realizada 
                [routaPendiente]="'./'"
                [routaRealizada]="'citas-realizadas'"
                [activeTab]="'pendiente'">
                </app-componente-pendiente-realizada>
            </div>
            <div class="row">
                <div class="col-6 mt-5">
                    <app-tabla-citas></app-tabla-citas>
                </div>
              
            </div>
        </div>
    </div>
    
</div>



<router-outlet></router-outlet>

