<div class="row">
    <div class="col-12 mt-5 p-4">
        <h1 class="ms-5">Citas</h1>
    </div>
</div>

<div class="row">
    <div class="col-6"> 
        <table datatable class="row-border p-3">

            <thead>
                 <tr>
                     <th>
                         hola
                     </th>
                 </tr>
            </thead>
            
             <tbody> <!--Aqui estamos decidiendo que tipo de contenido se va a enseñar por pantalla-->
                <tr>
                     <td>
                         Mostrando citas generales... <!-- Aqui se mostraria a las citas generales-->
                     </td>
                 </tr>
             </tbody>
         
         </table>
         
    </div>
</div>
