<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5 p-4">
            <h1 class="ms-5 title">Citas</h1>
        </div>
    </div>
    
    <div class="row ms-5 font">
        <div class="col-11"> 
            <table datatable *ngIf="resultado"  [dtOptions]="dtOptions"  class="table table-hover">
    
                <thead>
                     <tr>
                         <th>
                             SIP
                         </th>
                         <th>
                            Nombre
                        </th>
                        <th>
                            Apellido
                        </th>
                      <th>
                            Médico
                        </th>
                        <th>
                            Servicio
                        </th>
                        <th>
                            Hora
                        </th>
                     </tr>
                </thead>
                
                 <tbody> <!--Aqui estamos decidiendo que tipo de contenido se va a enseñar por pantalla-->
                    <tr *ngFor="let rdo of resultado">
                        <td>{{rdo.sip}}</td>
                        <td>{{rdo.nombre_paciente}}</td>
                        <td>{{rdo.apellidos_paciente}}</td>
                        <td>{{rdo.nombre_medico}}</td>
                        <td>{{rdo.servicio}}</td>
                        <td>{{rdo.hora}}</td>
                    </tr>
                 </tbody>
             </table>
        </div>
    </div>
</div>

