<div class="container-fluid barra-lateral">
    <div class="row h-100">
        <div class="col-2">
                <app-barra-lateral-administrativo></app-barra-lateral-administrativo>
        </div>

        <div class="col-10">
            
            <div class="row mt-2">
                <div class="col-12 p-0 ">
                    <breadcrumb 
                    [primeraRouta]="'/radiologo'"
                    [primerNombre]="'Alta paciente'"
                    [segundonombre]="'Citas'"
                    ></breadcrumb>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-5 p-4">
                    <h1 class="ms-5">Nombre Paciente</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <ul class="d-flex ms-5">
                        <li class="border-bottom p-3" id="elemento-lista"><a routerLink="citas-pendientes" routerLinkActive="activo">Citas Pendientes</a></li>
                        <li class="border-bottom p-3" id="elemento-lista"><a routerLink="citas-realizadas" routerLinkActive="activo">Citas Realizadas</a></li>
                        <li class="border-bottom p-3" id="elemento-lista"><a routerLink="perfil" routerLinkActive="activo">Perfil</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-12 p-5"> <!--Este apartado despliega los componentes que correspondan a una ruta especifica-->
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>




