<div class="container-fluid">
    <div class="row font">
        <div class="col-12 p-0">
            <div class="row m-0">
                <div class="col-12 mt-2 p-0">
                    <breadcrumb
                    [primeraRouta]="'/medico'"
                    [primerNombre]="'Citas'"
                    [segundonombre]="'Diagnostico'"
                    ></breadcrumb>
                </div>
            </div>
            <div class="row px-5">
                <div class="col-12 mt-5">
                    <h1 class="title color">{{nombreCompleto}}</h1>
                </div>    
            </div>
            <div class="row px-5">
                <div class="col-12 mt-4 p-0">
                    <app-tabs-atender-paciente (datoEnviado)="recibirDato($event)"></app-tabs-atender-paciente>
                </div>
            </div>
            <div class="row mt-5 px-5">
                <div class="col-12 p-0">
                    <app-formulario-diagnosticar *ngIf="activeTab === 'diagnosticar'"></app-formulario-diagnosticar>
                    <app-tabla-historial *ngIf="activeTab === 'historial'"></app-tabla-historial>
                    <app-formulario-generar-volante *ngIf="activeTab === 'volante'"></app-formulario-generar-volante>
                </div>
                
            </div>
        </div>
    </div>
</div>   