<form *ngIf="recargar">
    <div class="row mb-2">

        <div class="col">
            <label for="dni" class="form-label">DNI</label>
            <input type="text" class="form-control" id="dni" name="dni" [(ngModel)]="dni"  [disabled]="!poderEditar">
        </div>

        <div class="col">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" [disabled]="!poderEditar">
        </div>

        <div class="col">
            <label for="apellido1" class="form-label">Primer Apellido</label>
            <input type="text" class="form-control" id="apellido1" name="apellido1" [(ngModel)]="apellido1" [disabled]="!poderEditar">
        </div>

    </div>

    <div class="row mb-2">

        <div class="col">
            <label for="apellido2" class="form-label">Segundo Apellido</label>
            <input type="text" class="form-control" id="apellido2" name="apellido2" [(ngModel)]="apellido2" [disabled]="!poderEditar">
        </div>

        <div class="col" *ngIf="recargar">
            <label for="sexo" class="form-label">Sexo</label>
            <select class="form-select" name="sexo" id="sexo" [(ngModel)]="sexo" [disabled]="!poderEditar">
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
            </select>

         <!--  <input type="text" class="form-control" id="sexo"  name="sexo" [(ngModel)]="sexo" [disabled]="!poderEditar">--> 
        </div>

        <div class="col">
            <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="fechaNacimiento" name="fecha" [(ngModel)]="fecha" [disabled]="!poderEditar">
        </div>


    </div>

    <div class="row mb-2">

        <div class="col">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="telefono" name="telefono" minlength="9" maxlength="9" [(ngModel)]="telefono" [disabled]="!poderEditar">
        </div>

        <div class="col">
            <label for="correo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="correo" name="correo" [(ngModel)]="correo" [disabled]="!poderEditar">
        </div>

        <div class="col">
            <label for="codigoPostal" class="form-label">Codigo Postal</label>
            <input type="text" class="form-control" id="codigoPostal" name="codigoPostal" minlength="5" maxlength="5" [(ngModel)]="codigoPostal" [disabled]="!poderEditar">
        </div>

    </div>

    <div class="row mb-2">

        <div class="col-4">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="direccion" [disabled]="!poderEditar">
        </div>

    </div>
</form>

<div *ngIf="poderEditar; else noEditando" class="mt-4">
  <!--<button type="button" class="btn btn-primary" (click)="editar(poderEditar)">Cancelar</button>
  <button type="button" class="btn btn-primary ms-4" (click)="guardarCambios()">Guardar</button>-->

  <button type="button" class="btn-lg" (click)="editar(poderEditar)">Cancelar</button>
  <button type="button" class="btn-lg ms-5" (click)="guardarCambios()" data-bs-toggle="modal" data-bs-target="#modificarUsuario">Guardar</button>
</div>

<ng-template #noEditando>
  <!--<button type="button" class="btn btn-primary" (click)="editar(poderEditar)">Modificar</button>-->
  <button type="button" class="btn-lg" (click)="editar(poderEditar)">Modificar</button>
</ng-template>






