<form>
    <div class="row mb-2">

        <div class="col">
            <label for="dni" class="form-label">DNI</label>
            <input type="text" class="form-control" id="dni" readonly>
        </div>

        <div class="col">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" readonly>
        </div>

        <div class="col">
            <label for="apellido1" class="form-label">Primer Apellido</label>
            <input type="text" class="form-control" id="apellido1" readonly>
        </div>
        
    </div>

    <div class="row mb-2">

        <div class="col">
            <label for="apellido2" class="form-label">Segundo Apellido</label>
            <input type="text" class="form-control" id="apellido2" readonly>
        </div>

        <div class="col">
            <label for="sexo" class="form-label">Sexo</label>
            <input type="text" class="form-control" id="sexo" readonly>
        </div>

        <div class="col">
            <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
            <input type="text" class="form-control" id="fechaNacimiento" readonly>
        </div>

        
    </div>

    <div class="row mb-2">

        <div class="col">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="telefono" readonly>
        </div>

        <div class="col">
            <label for="correo" class="form-label">Correo</label>
            <input type="text" class="form-control" id="correo" readonly>
        </div>

        <div class="col">
            <label for="codigoPostal" class="form-label">Codigo Postal</label>
            <input type="text" class="form-control" id="codigoPostal" readonly>
        </div>
        
    </div>

    <div class="row mb-2">

        <div class="col-4">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" readonly>
        </div>
        
    </div>
</form>

<div *ngIf="poderEditar; else noEditando">
    <button type="button" class="btn btn-primary" (click)="editar(poderEditar)">Cancelar</button>
    <button type="button" class="btn btn-primary">Siguiente</button>
</div>

<ng-template #noEditando>
    <button type="button" class="btn btn-primary" (click)="editar(poderEditar)">Modificar</button>
</ng-template>





