<table datatable [dtOptions]="dtOptions" class="table table-hover font">
    <thead>
        <tr style="background-color: #0062ca;">
            <th>SIP</th>
            <th>Nombre</th>
            <th>Apellidosssssssssssss</th>
            <th>Hora</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cita of citas" (click)="onRowClick(cita)" class="pointer">
            <td>{{ cita.sip }}</td>
            <td>{{ cita.nombre }}</td>
            <td>{{ cita.apellidos }}</td>
            <td>{{ cita.hora }}</td>
        </tr>
    </tbody>
</table>
