<div class="row">
    <div class="col-12 p-0 mt-3">
        <app-breadcrumb-tres-pasos
        [primeraRouta]="'/app/administrativo/alta-paciente'"
        [primerNombre]="'Alta paciente'"
        [segundaRouta]="'/app/administrativo/paciente/'+idPaciente"
        [segundonombre]="'Citas'"
        [tercernombre]="'Modificar Cita'"
        [tercerActivo]="true"
       
        ></app-breadcrumb-tres-pasos>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-5 ms-5">
        <p class="h1">Modificar Cita</p>
    </div>
</div>

<div class="row d-flex justify-content-start">
    <div class="col-4 text-center mt-3 ms-3">
        <app-dos-pasos-formulario></app-dos-pasos-formulario>
    </div>
</div>


<div class="row">
    <div class="col-12 mt-5 ms-5 mb-5">
        <p class="h5">Introduce los datos de la cita</p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-6 mb-4">
      <form  [formGroup]="formularioCita" (ngSubmit)="siguiente()">

        <div class="row mb-4">
          <div class="col ms-5">
            <label for="especialidad" class="form-label">Servicio</label>
            <select class="form-select" aria-label="Default select example"  (change)="obtenerIdServicio($event)">
              <option disabled selected value="">Seleccionar servicio</option>
              <option *ngFor="let servicio of servicios" [value]="servicio.id_servicio">
                {{ servicio.nombre_servicio }}
              </option>
            </select>
          </div>

          <div class="col ms-5">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" aria-label="Fecha" formControlName="fechaCita">
        </div>
        
        </div>

        <div class="row mb-2 mt-5">
            <div class="col ms-5">
                <label for="nombreMedico" class="form-label">Nombre de Médico</label>
                <select class="form-select" aria-label="Seleccionar médico"  (change)="obtenerIdMedico($event)">
                    <option disabled selected value="">Seleccionar médico</option>
                    <option *ngFor="let medico of medicos" [value]="medico.id_usuario_medico">
                      {{ medico.usuario.nombre }}
                    </option>
                </select>


            </div>

            <div class="col ms-5">
                <label for="horasDisponibles" class="form-label" >Horas Disponibles</label>
                <input type="time" class="form-control" formControlName="horasDisponibles" >

            </div>
        </div>

    </form>
    </div>
</div>

<div class="row mt-3 p-5">
  <div class="col-12 d-flex justify-content-between align-items-center">

        <app-btn-cancelar [routerLink]="'/app/administrativo/paciente/' + idPaciente"></app-btn-cancelar>

        <div class="d-flex align-items-center">
          <app-btn-anterior *ngIf="confirmar" (click)="anterior()" class="me-4"></app-btn-anterior>
          <app-btn-siguiente
              [mostrarModal]="enviarDatos"
              [idModal]="'prueba'"
              (click)="siguiente()">
          </app-btn-siguiente>

         

      </div>
    </div>
</div>




<app-mensaje-confirmacion [idModal]="'prueba'" [texto]="'Cita modificada exitosamente'" [enlace]="'app/administrativo/paciente/'+idPaciente"></app-mensaje-confirmacion>





