<!-- imagen-modal.component.html -->
<div class="modal" tabindex="-1" role="dialog" *ngIf="mostrar">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Vista de Imagen</h5>
          <button type="button" class="close" (click)="cerrar()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img [src]="imagen" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  
