* {
  margin: 0;
  padding: 0;
}

.barraLateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 222px;
  height: 100vh;
  flex-shrink: 0;
  background: #092C4C;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
}


.lineaHorizontal {
  position: absolute;
  top: 8%;
  width: calc(100% - 222px);
  height: 1px;
  background: #000;
  margin-left: 222px;
  transform: translateY(-50%);
}

.menu button {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #E4E7EC;
  background: var(--Shade-White, #FFF);
}

.menu {
  position: absolute;
  top: 5%;
  display: flex;
  align-items: center;
  width: 50%;
  height: 30px;
  margin-left: 305px;
  transform: translateY(-50%);
}


.menu a {
  margin-left: 10px;
  color: #092C4C;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.menu label {
  margin-left: 10px;
  margin-right: 10px;
  color: #092C4C;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

#lAltaPaciente {
  margin-left: 20px;
}

#lCitas {
  font-weight: bold;
}

#lDetalles {
  position: absolute;
  top: 3%;
  margin-left: 305px;
  margin-top: 5%;
  width: 393px;
  height: 37px;
  flex-shrink: 0;
  color: #092C4C;
  font-family: Manrope;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.carta {
  position: absolute;
  top: 5%;
  width: 1236px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #EBF3FA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 305px;
  margin-top: 8%;
  padding: 4px;
}

#btnAnular {
  margin-top: -6%;
  margin-left: 20%;
  display: flex;
  width: 231.257px;
  height: 58.385px;
  padding: 19px 72.257px 19.385px 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Color---Primary, #092C4C);
  color: white;
}

#lTitMedico,
#lTitServicio,
#lTitFecha,
#lTitHora {
  color: #092C4C;
  font-family: Manrope;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dMedico {
  margin-left: 10%;
  margin-top: 5%;
}

.dServicio {
  margin-top: -7%;
  margin-left: 70%;
}

.dFecha {
  margin-left: 10%;
  margin-top: 6%;
}

.dHora {
  margin-top: -6.9%;
  margin-left: 70%;
}


#lNombre, #lFecha {

  color: #092C4C;
  font-family: Manrope;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#lServicio, #lHora {
  color: #092C4C;
  font-family: Manrope;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


.mensajeConfirmacion {
  margin-left: 15%;
}
