
<div class="barraLateral"></div>
    <div class="menu">
        <button id="btnVolver">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </button>
        <a href="">Volver</a>
        <label id="lAltaPaciente">Alta paciente</label>/<label>Citas</label>/<label id="lCitas">Detalles de
            Citas</label>
    </div>
    <div class="lineaHorizontal"></div>

    <label id="lDetalles">Detalles De La Cita</label>

    <div class="carta">
        <div class="dMedico">
            <label id="lTitMedico">MÉDICO / ESPECIALISTA</label><br><br>
            <label id="lNombre">Claudio López</label>
        </div>

        <div class="dServicio">
            <label id="lTitServicio">SERVICIO</label><br><br>
            <label id="lServicio">Pediatria</label>
        </div>

        <div class="dFecha">
            <label id="lTitFecha">FECHA</label><br><br>
            <label id="lFecha">20/02/2023</label>
        </div>

        <div class="dHora">
            <label id="lTitHora">HORA</label><br><br>
            <label id="lHora">14:00</label>
        </div>



    </div>

    <button id="btnAnular" (click)="anularCita()">Anular Cita</button>
    <div *ngIf="mostrarModal" class="modal">
      <div class="mensajeConfirmacion">
        <app-confirma (cerrar)="mostrarMensajeCancelar()"></app-confirma>
      </div>
    </div>
