
    <ul class="nav nav-pills flex-column mb-auto mt-5 pe-3" [ngSwitch]="rolDelUsuario">
        <div *ngSwitchCase="5">
            <li class="nav-item mt-3" (click)="seleccionarElemento(1)" [ngClass]="{'selected': indiceSeleccionado === 1}">
                <a class="nav-link  px-3" routerLink="/app/administrativo">
                    <fa-icon [icon]="faCalendar" class="mx-2 icon-calender"></fa-icon>
                    Citas Administrativo
                </a>
            </li>
            <li class="nav-item mt-3" (click)="seleccionarElemento(2)" [ngClass]="{'selected': indiceSeleccionado === 2}">
                <a class="nav-link  px-3" routerLink="/app/administrativo/alta-paciente">
                    <fa-icon [icon]="faUserPlus" class="mx-2 icon-calender"></fa-icon>
                    Alta Paciente
                </a>
            </li>
            <li class="nav-item mt-3" (click)="seleccionarElemento(3)" [ngClass]="{'selected': indiceSeleccionado === 3}">
                <a class="nav-link  px-3" routerLink="/app/administrativo/buscar-paciente">
                    <fa-icon [icon]="faMagnifyingGlass" class="mx-2 icon-calender"></fa-icon>
                    Búsqueda Paciente
                </a>
            </li>
        </div>

        <div *ngSwitchCase="2">
            <li class="nav-item" (click)="seleccionarElemento(1)" [ngClass]="{'selected': indiceSeleccionado === 1}">
                <a class="nav-link  px-3" routerLink="/medico" >
                    <fa-icon [icon]="faCalendar" class="mx-2 icon-calender"></fa-icon>
                    Citas Medicas
                </a>
            </li>
        </div>

        <div *ngSwitchCase="4">
            <li class="nav-item mt-3" (click)="seleccionarElemento(1)" [ngClass]="{'selected': indiceSeleccionado === 1}">
                <a class="nav-link  px-3" routerLink="/radiologo">
                  <fa-icon [icon]="faCalendar" class="mx-2 icon-calender"></fa-icon>
                  Citas Radiologo
              </a>
            </li>
        </div>

        <div *ngSwitchCase="3">
            <li class="nav-item mt-3" (click)="seleccionarElemento(1)" [ngClass]="{'selected': indiceSeleccionado === 1}">
                <a class="nav-link  px-3" routerLink="">
                  <fa-icon [icon]="faCalendar" class="mx-2 icon-calender"></fa-icon>
                  Citas Paciente
              </a>
              </li>
              <li class="nav-item mt-3" (click)="seleccionarElemento(2)" [ngClass]="{'selected': indiceSeleccionado === 2}">
                 <a class="nav-link  px-3" routerLink="">
                  <fa-icon [icon]="faFile" class="mx-2 icon-calender"></fa-icon>
                  Pruebas Paciente
              </a>
              </li>
        </div>
        
        <div *ngSwitchCase="6">
            <li class="nav-item mt-3">
                <a class="nav-link  px-3" routerLink="/app/medico-externo/contratos" (click)="seleccionarElemento(1)" [ngClass]="{ 'selected': indiceSeleccionado === 1, 'not-selected': indiceSeleccionado !== 1 }">
                  <fa-icon [icon]="faFileSignature" class="mx-2 icon-calender"></fa-icon>
                  Contratos
              </a>
              </li>
              <li class="nav-item mt-3"  >
                 <a class="nav-link  px-3" routerLink="/app/medico-externo/facturas" (click)="seleccionarElemento(2)" [ngClass]="{ 'selected': indiceSeleccionado == 2, 'not-selected': indiceSeleccionado != 2 }">
                  <fa-icon [icon]="faFileInvoiceDollar" class="mx-2 icon-calender"></fa-icon>
                  Facturas
              </a>
              </li>
        </div>
        <div *ngSwitchDefault>

        </div>
    </ul>
   

