* {
  margin: 0;
  padding: 0;
}

.barraLateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 222px;
  height: 100vh;
  flex-shrink: 0;
  background: #092C4C;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
}


.lineaHorizontal {
  position: absolute;
  top: 8%;
  width: calc(100% - 222px);
  height: 1px;
  background: #000;
  margin-left: 222px;
  transform: translateY(-50%);
}

.menu button {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #E4E7EC;
  background: var(--Shade-White, #FFF);
}

.menu {
  position: absolute;
  top: 5%;
  display: flex;
  align-items: center;
  width: 50%;
  height: 30px;
  margin-left: 305px;
  transform: translateY(-50%);
}


.menu a {
  margin-left: 10px;
  color: #092C4C;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.menu label {
  margin-left: 10px;
  margin-right: 10px;
  color: #092C4C;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

#lAltaPaciente {
  margin-left: 20px;
}

#lCitas {
  font-weight: bold;
}

#lCrearCita {
  position: absolute;
  top: 8%;
  margin-left: 305px;
  margin-top: 2%;
  width: 213px;
  height: 37px;
  flex-shrink: 0;
  color: #000;
  font-family: Manrope;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav {
  position: absolute;
  border-radius: 5px;
  border: 0px solid #000;
  background: #DCECFB;
  top: 25%;
  width: 75%;
  height: 64px;
  margin-left: 305px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.lineaVertical {
  height: 64px;
  width: 1px;
  background: #000;
  transform: translateX(-50%);
}

.datosCita,
.confirmarCita {
  height: 100%;
  width: calc(50% - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.barraHorizontal {
  position: absolute;
  bottom: 0;
  left: 49.9%;
  width: 50%;
  height: 8px;
  background-color: #092C4C;
  ;
}

#lDatosCita {
  color: #092C4C;
  font-family: Manrope;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
}

#lConfirmarCita {
  color: #092C4C;
  font-family: Manrope;
  font-size: 24px;
  font-style: bold;
  font-weight: 700;
  line-height: normal;

}

#lIntroduce {
  position: absolute;
  top: 28%;
  margin-left: 305px;
  margin-top: 2%;
  color: #000;
  font-family: Manrope;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

form {
  position: absolute;
  top: 40%;
  margin-left: 305px;

}

#lEspecialidad {
  color: #092C4C;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.4px;
}

#lNombre {
  color: #092C4C;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.4px;
  width: 160px;
}

.form-especialidad {
  margin-left: 75%;
  margin-top: 10%;
}

.form-nombre {
  margin-top: 15%;
  margin-left: 75%;

}

.form-select {
  height: 40px;
  width: 300px;
  border-radius: 4px;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
  background-color: white;
  font-size: 12px;

}

.form-creacion {
  margin-left: 225%;
  width: 100%;
  height: 100%;
  margin-top: -55%;
}

#lCreacion {
  color: #092C4C;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.4px;
  width: 160px;
}

.borderDate {
  border-radius: 2px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  width: 100%;

}

.iFechaCreacion {
  border: none;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 5px;
}

.form-horas {
  margin-top: 15%;
  margin-left: 225%;
}

#lHoras {
  width: 180px;
  color: #092C4C;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.4px;

}

#sCalendario {
  margin-top: 2px;
  margin-left: 60px;
}


.iFechaCreacion::placeholder {
  color: #000;
  font-size: 12px;

}

#btnCancelar,
#btnSiguiente,
#btnAnterior {
  display: flex;
  width: 231.257px;
  height: 58.385px;
  padding: 19px 72.257px 19.385px 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Color---Primary, #092C4C);
  color: white;
}

#btnCancelar {
  position: absolute;
  top: 28%;
  margin-left: 305px;
  margin-top: 25%;
}

#btnAnterior {
  position: absolute;
  top: 28%;
  margin-left: 62%;
  margin-top: 25%;
}

#btnSiguiente {
  position: absolute;
  top: 28%;
  margin-left: 80%;
  margin-top: 25%;
}



#iHoras, #iCreacion, #iEspecialidad, #iNombre {
  width: 300px;
  height: 35px;
  color: #092C4C;
}

input {
  background-color: #ECECEC ;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


.mensajeConfirmacion {
  margin-left: 15%;
}
