<div class="row font">
    <div class="col-1 text-center" [class.enabled]="activeTab === 'diagnosticar'" [class.disabled]="activeTab !== 'diagnosticar'" (click)="setActiveTab('diagnosticar'); enviarDatoAlPadre('diagnosticar')">
        <span>Diagnosticar</span>
    </div>
    <div class="col-1 text-center" [class.enabled]="activeTab === 'historial'" [class.disabled]="activeTab !== 'historial'" (click)="setActiveTab('historial'); enviarDatoAlPadre('historial')" >
        <span>Historial</span>
    </div>
    <div class="col-2 text-center" [class.enabled]="activeTab === 'volante'" [class.disabled]="activeTab !== 'volante'" (click)="setActiveTab('volante'); enviarDatoAlPadre('volante')" >
        <span>Generar Volante</span>
    </div>
</div>

