/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: manrope;
    src: url(assets/Manrope-VariableFont_wght.otf) format("opentype");
}
.font{
    font-family: manrope;
}
.color{
    color: #092C4C;
}

#DataTables_Table_0_filter{
    font-family: manrope;
}

#DataTables_Table_0_length{
    font-family: manrope;
}

table > thead > tr > .sorting:nth-child(1){ 
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
   /* Sorting es la clase que se le asigna a los td/th que contengan el titulo del atributo de la tabla (SIP, Nombre, etc)*/
}

table > thead > tr > .sorting:nth-last-child(1){ 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
   /* Sorting es la clase que se le asigna a los td/th que contengan el titulo del atributo de la tabla (SIP, Nombre, etc)*/
}

table > thead > tr > .sorting{ 
    background-color: #092C4C;
    color: white;
   /* Sorting es la clase que se le asigna a los td/th que contengan el titulo del atributo de la tabla (SIP, Nombre, etc)*/
}

table > thead > tr > .sorting::before .sorting::after{
    color: white; 
    /*Sorting::before y after son las flechas de ordenacion de dicho atributo*/
}

.title{
    font-size: 40px;
    font-family: manrope;
    font-weight: bold;
}
/*Esto controla todos los estilos de los titulos de la tabla*/
.table > thead > tr > .sorting {
    padding: 15px;
    font-size: 16px;
}

/*Esto controla todos los estilos de los td*/
.table > tbody > tr > td {
    padding: 15px;
    font-size: 16px;
}

.mat-calendar-table > .mat-calendar-body > tr > td > .mat-calendar-body-active > .mat-calendar-body-cell {
    background-color: #092C4C;
}

.mat-calendar-table > .mat-calendar-body > tr > td > .mat-calendar-body-active > .mat-calendar-body-selected {
    background-color: #092C4C;
}

.mat-calendar-table > .mat-calendar-body > tr > td > .mat-calendar-body-active > .mat-focus-indicator {
    background-color: #092C4C;
}

.pagination >  .page-item > .page-link {
    background-color: #092C4C;
    border-color: #092C4C;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }  */
